In [1]:
message = "This is a comprehensive course"

In [2]:
print(message)

This is a comprehensive course

In [7]:
x = 20
y=20.45
z= 12j+ 34

In [8]:
x

20

In [9]:
y

20.45

In [10]:
z

(34+12j)

## Data Type Check

In [11]:
type(x)

int

In [12]:
type(y)

float

In [13]:
type(z)

complex

In [14]:
type(message)

str

In [15]:
type(12)

int

In [16]:
type(34.7)

float

In [19]:
type(23+ 56j)

complex

In [26]:
numberList = [23,21,18,20]
print(numberList)
type(numberList)

[23, 21, 18, 20]

list

In [29]:
type(["a","b","c"])

list

* boolean

In [20]:
test = True

In [21]:
test

True

In [22]:
type(test)

bool

In [23]:
crash = False

In [24]:
type(crash)

bool

###  কিছু পয়েন্ট  মনে রাখা ভালো

* পাইথনের ভ্যারিয়েবল নেইম হইলো কেইস সেনসিটিভ । বুঝো নাই ব্যাপারটা । এইখানে তিনটা উদাহরন দিতেছি --> 
 => name = "Dhaka" ; Name = "Dhaka" ; naME ="Dhaka" || এইখানে name , Name , naME এদের অর্থ একই । কিন্তু এইখানে তিনটা আলাদা আলাদা ভ্যারিয়েবল ।

* পাইথনের ভ্যারিয়েবলের নামের শুরুতে যারা নাম্বার(1,2,3) বসানো যাবেনা । এইখানে আন্ডারস্কোর ( _ ) ; লেটার(x,X,y,Y) বসাইতে হবে । এটাই সায়েন্স । এটাই সংবিধান । আর সংবিধান ভঙ্গের শাস্তি হলো ইরর :( । সুতরাং ,সাধু সাবধান!!