In [1]:
abs(34.56)

34.56

In [3]:
print(abs(-34)) 
print(abs(-4526.34)) # abs() diye minus withdraw kora hoy

34
4526.34

In [4]:
bool(1)

True

In [8]:
print(bool(1))
print(bool(0))
print(type(bool(1)))
print(type(bool(0)))

True
False
<class 'bool'>
<class 'bool'>

In [9]:
sum([34,785,235])

1054

In [10]:
sum([1234565432,345678765432]) #list er number gulo add kora jabe sum() er maddhome

346913330864

In [16]:
x=[1,3,5,7]
y=[2,4,6,8,10]
z = zip(x,y)
print(list(z))

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [17]:
ta =[11,12,13,14]
ka = [21,22,23,24]
print(list(zip(ta,ka)))

[(11, 21), (12, 22), (13, 23), (14, 24)]

In [18]:
lo = [26,27,28]
ko = [36,38,233]
print(list(zip(lo,ko))) #[(26,36),(27,38),(28,233)]

[(26, 36), (27, 38), (28, 233)]