#### Tuple is immutable & ordered syntax
#### Syntex tuple ((1,2,3)) or (1,2,3)

In [11]:
tupList = (1,2,3,4,5,6)
tupList2 =tuple((1,2,3,4,5,6,7,8,9))

In [12]:
print(type(tupList))

<class 'tuple'>

In [14]:
print(type(tupList2))

<class 'tuple'>

In [15]:
tuple1=(11,12,13,14,11,12)

In [16]:
print(tuple1)

(11, 12, 13, 14, 11, 12)

In [17]:
14 in tuple1

True

In [19]:
len(tuple1)

6

In [20]:
tuple1[0:5]

(11, 12, 13, 14, 11)

In [ ]:
tuple1